<div class="relative w-full h-screen flex flex-col justify-center">
    <div class="flex flex-col items-start gap-5 text-white z-10 font-[ClashGrotesk-Bold] absolute px-5">
        <div class="flex flex-col">
            <h1>Welcome, Dear Gamers</h1>
            <p class="text-[#54575D] font-[ClashGrotesk-Medium] lg:w-[40%]">Lorem ipsum dolor sit amet consectetur. Ac semper sed massa scelerisque in mi consectetur dictum magna. Massa lectus vulputate maecenas risus ut volutpat augue morbi. Vel libero arcu platea a sit eu imperdiet augue. Ac velit scelerisque adipiscing imperdiet quisque tincidunt dictum nisl.</p>
        </div>
        <div [routerLink]="['/products']">
            <button [routerLink]="['/products']" class="bg-[#3A66E8] font-[ClashGrotesk-Semibold] px-5 py-3 transition hover:bg-[#2542A3]"><a [routerLink]="['/products']" class="text-white">Explore</a></button>
        </div>
    </div>
    <img src="/images/hero-bg.jpg" alt="GAMA Background" class="absolute top-0 left-0 w-full h-full object-cover">
</div>

<!-- <div class="relative w-full h-screen flex md:items-center justify-center">
    <img src="/images/hero-bg.jpg" alt="GAMA Background" class="absolute top-0 left-0 w-full h-full object-cover">
    
    <div class="relative z-10 text-white text-center md:text-left px-5 md:px-20 max-w-3xl">
        <h1 class="text-3xl md:text-5xl font-[ClashGrotesk-Bold]">Welcome, Dear Gamers</h1>
        <p class="text-[#B0B3B8] font-[ClashGrotesk-Medium] text-base md:text-lg mt-3 md:w-[60%]">
            Lorem ipsum dolor sit amet consectetur. Ac semper sed massa scelerisque in mi consectetur dictum magna. Massa lectus vulputate maecenas risus ut volutpat augue morbi.
        </p>
        <button class="bg-none font-[ClashGrotesk-Semibold]">
            <a href="#">Explore</a>
        </button>
    </div>
</div> -->
