<div class="bg-[#1C2027] w-full min-h-screen px-5">
    <div class="flex flex-col w-full p-5">
      <p class="font-[ClashGrotesk-Semibold] text-3xl text-white">ABOUT GAMA</p>
      <p class="font-[ClashGrotesk-Medium] text-lg md:text-xl text-white w-full md:w-[500px]">
        GAMA Store is a platform that helps you find your favorite digital game online for gamers that loves to get their game from the original publishers. GAMA is provided with a great user interface and also the platform comes with all genre or types of games that user can search for.
      </p>
    </div>
  
    <div class="relative flex flex-col md:flex-row w-full p-5">
      <div class="flex flex-col justify-center w-full md:w-[55%] bg-gradient-to-t from-[#152657] to-[#3A66E8] p-5">
        <p class="font-[ClashGrotesk-Semibold] text-xl md:text-2xl text-white m-0">Vision</p>
        <p class="font-[ClashGrotesk-Medium] text-lg md:text-xl text-white w-full lg:w-[60%]">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae magni labore eaque 
          molestias voluptatibus, eos officia id aliquam, aliquid eveniet nesciunt fugiat.
        </p>
        <p class="font-[ClashGrotesk-Semibold] text-xl md:text-2xl text-white m-0">Mission</p>
        <p class="font-[ClashGrotesk-Medium] text-lg md:text-xl text-white w-full lg:w-[60%]">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae magni labore eaque 
          molestias voluptatibus, eos officia id aliquam, aliquid eveniet nesciunt fugiat.
        </p>
      </div>
  
      <div class="flex flex-row justify-center w-full md:w-[45%] bg-white">
        <div class="flex items-center w-[78%] justify-center">
          <img class="w-[190px] md:w-[270px]" src="images/about_Layer_1.svg" alt=".logo">
        </div>
        <div class="w-[22%] flex justify-center items-center flex-col gap-3">
          <a href="#"><img src="images/X_about.svg" alt="X" width="50px"></a>
          <a href="#"><img src="images/f_about.svg" alt="Facebook" width="50px"></a>
          <a href="#"><img src="images/d_about.svg" alt="Discord" width="50px"></a>
        </div>
      </div>
  
      <img class="hidden lg:block w-[540px] absolute bottom-12 left-1/2 transform -translate-x-[26%] z-20" src="images/about_fighter.svg" alt="Fighter">
    </div>
  </div>
  