@layer utilities {
  .scrollbar-transparent::-webkit-scrollbar {
    width: 6px; 
  }
  
  .scrollbar-transparent::-webkit-scrollbar-track {
    background: transparent; 
  }

  .scrollbar-transparent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
  }

  .scrollbar-transparent::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); 
  }
}
