<div
  class="w-full h-screen flex flex-col bg-[#1C2027]"
>

  <div class="flex flex-col  text-center align-items-center h-full justify-content-end">
    <p class="font-[ClashGrotesk-SemiBold] text-7xl text-[#3A66E8] m-0">
      404  
    </p>
    <p class="font-[ClashGrotesk-SemiBold] text-3xl text-white ">
      Not Found  
    </p>
    <p class="font-[ClashGrotesk-Medium] text-xl text-[#54575D] w-full mb-5 sm:w-[360px] md:text-2xl md:w-[500px]">
      Something went wrong! Please try again later.
May you find salvation, warrior.  
    </p>
  </div>
  <div class="flex justify-center h-full">
    <img src="images/Error.svg" alt="" class="w-[900px]" />
  </div>
</div>
