<div class="flex flex-col md:flex-row justify-between items-center w-full h-auto md:h-[120px] bg-gradient-to-r from-[#3A66E8] to-[#213982] px-5 md:px-10 py-5">
    <div class="flex flex-col text-left">
        <p class="text-white font-[ClashGrotesk-Medium] mb-2">All rights reserved | Copyright ©</p>
        <p class="text-white font-[ClashGrotesk-Regular] m-0">GAMA Team</p>
    </div>
    
    <div class="mt-4 md:mt-0">
        <button class="flex justify-center items-center w-[50px] h-[50px] md:w-[64px] md:h-[64px] bg-white rounded-full shadow-md">
            <a href="#"><img src="/images/arrow-filled.svg" alt="Top"></a>
        </button>
    </div>
</div>

<div class="flex flex-col md:flex-row justify-between items-center w-full h-auto md:h-[300px] bg-[#1C232F] p-5 md:px-10 md:py-10 gap-5">
    
    <div class="flex flex-wrap justify-center md:justify-start gap-5 text-center md:text-left">
        <div class="flex flex-col gap-3">
            <a class="text-white font-[ClashGrotesk-Medium] hover:text-[#3A66E8]" href="#">All Games</a>
            <a class="text-white font-[ClashGrotesk-Medium] hover:text-[#3A66E8]" href="#">New Arrivals</a>
            <a class="text-white font-[ClashGrotesk-Medium] hover:text-[#3A66E8]" href="#">Categories</a>
        </div>
        <div class="flex flex-col gap-3">
            <a class="text-white font-[ClashGrotesk-Medium] hover:text-[#3A66E8]" href="#">Sales</a>
            <a class="text-white font-[ClashGrotesk-Medium] hover:text-[#3A66E8]" href="#">Free Games</a>
            <a class="text-white font-[ClashGrotesk-Medium] hover:text-[#3A66E8]" href="#">About</a>
        </div>
    </div>

    <div class="flex justify-center items-center">
        <img class="relative md:top-[-130px]" src="/images/v-logo-border.svg" alt="GAMA Logo" width="150px">
    </div>

    <div class="flex flex-col items-center md:items-end text-center md:text-right">
        <p class="text-white font-[ClashGrotesk-Medium]">Follow Us on</p>
        <div class="flex gap-3 mt-3">
            <a href="#"><img src="/images/Discord.svg" alt="Discord" width="40px"></a>
            <a href="#"><img src="/images/Facebook.svg" alt="Facebook" width="40px"></a>
            <a href="#"><img src="/images/X.svg" alt="X" width="40px"></a>
        </div>
    </div>
</div>
